beautifulsoup4==4.11.1; python_full_version >= "3.6.0"
gensim==4.2.0; python_version >= "3.6"
hazm==0.7.0
libwapiti==0.2.1; platform_system != "Windows"
nltk==3.3
numpy==1.22.4
pandas==1.4.2; python_version >= "3.8"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
pytz==2022.1; python_version >= "3.8"
scipy==1.8.1; python_version >= "3.7"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" and platform_system != "Windows" or python_full_version >= "3.3.0" and python_version >= "3.8" and platform_system != "Windows"
smart-open==6.0.0; python_version >= "3.6" and python_version < "4.0"
soupsieve==2.3.2.post1; python_version >= "3.6" and python_full_version >= "3.6.0"
